.card-chart {
  .card-header{
    .card-title{
      margin-top: 10px;
      margin-bottom: 0;
    }
    .card-category{
      display: inline; // Ensure the description text is inline

      &.collapsed {
        max-height: 3em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;  // Limit to 3 lines (adjust as necessary)
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
      }

      &.expanded {
        max-height: none;
      }

      a.toggle-link {
        margin-left: 8px;  // Space between description and link
        color: blue;  // Color for the link, adjust as necessary
        cursor: pointer;
        text-decoration: underline;  // Underline for link appearance

        &:hover {
          text-decoration: none;  // Remove underline on hover, adjust as necessary
        }
      }
    }
  }

  .table{
    margin-bottom: 0;

    td{
      border-top: none;
      border-bottom: 1px solid #e9ecef;
    }
  }

  .card-progress {
    margin-top: 30px;
  }

  .chart-area {
    height: 190px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
  }
  .card-footer {
    margin-top: 15px;

    .stats{
      color: $dark-gray;
    }
  }

  .dropdown{
    position: absolute;
    right: 20px;
    top: 20px;

    .btn{
      margin: 0;
    }
  }
}
