body{
    color: $white-color;
    font-size: $font-size-base;
    font-family: $sans-serif-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main{
    position: relative;
    background: $dark-background;
}
/* Animations */
.nav-pills .nav-link,
.navbar,
.nav-tabs .nav-link,
.sidebar .nav a,
.sidebar .nav a i,
.animation-transition-general,
.tag,
.tag [data-role="remove"],
.animation-transition-general{
    @include transition($general-transition-time, $transition-ease);
}

//transition for dropdown caret
.dropdown-toggle:after,
.bootstrap-switch-label:before,
.caret{
    @include transition($fast-transition-time, $transition-ease);
}

.dropdown-toggle[aria-expanded="true"]:after,
a[data-toggle="collapse"][aria-expanded="true"] .caret,
.card-collapse .card a[data-toggle="collapse"][aria-expanded="true"] i,
.card-collapse .card a[data-toggle="collapse"].expanded i{
    @include rotate-180();
}

.button-bar{
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: $white-bg;

    & + .button-bar{
        margin-top: 7px;
    }

    &:nth-child(2){
        width: 17px;
    }
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}


.offline-doc {
  .navbar.navbar-transparent{
    padding-top: 25px;
    border-bottom: none;

    .navbar-minimize {
      display: none;
    }
    .navbar-brand,
    .collapse .navbar-nav .nav-link {
      color: $white-color !important;
    }
  }
  .footer {
    z-index: 3 !important;
  }
  .page-header{
    .container {
      z-index: 3;
    }
    &:after {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
}

.fixed-plugin {
  .dropdown-menu li {
    padding: 2px !important;
  }
}

// badge color

.badge{
  &.badge-default{
      @include badge-color($default-color);
  }
  &.badge-primary{
      @include badge-color($primary-color);
  }
  &.badge-info{
      @include badge-color($info-color);
  }
  &.badge-success{
      @include badge-color($success-color);
  }
  &.badge-warning{
      @include badge-color($warning-color);
  }
  &.badge-danger{
      @include badge-color($danger-color);
  }
  &.badge-neutral{
      @include badge-color($white-color);
      color: inherit;
  }
}

.card-user {
  form {
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padded-row {
  padding: 0 15px;
}

.info-text {
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 8px;
  background: linear-gradient(to right, #050505, rgb(0, 0, 0));
  color: #FFF;
  text-align: center;
}

.valuation-description {
  font-size: 14px;
  color: $white-color;
  margin-top: 2%;
  padding-bottom: 10px;
}

.card-subtitle {
  font-size: 12px;
}

.equidistant-divs {
  display: flex;
  justify-content: start;
  margin-bottom: 2px;

  > .numbers {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.card-hr {
  margin-bottom: 10px;  /* Adjust as per your requirement */
  height: 1px; // Define the height, for gradient to work well
  background-image: linear-gradient(to right, $dark-gray, $dark-background);
}

.card-hr-left-short {
  width: 50%;
  height: 1px; // Define the height, for gradient to work well
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 0; 
  margin-right: auto;
  background-image: linear-gradient(to right, $dark-gray, $dark-background);
}

.subtitle-h5 {
  font-size: 16px;
  color: $white-color;
  margin-top: 2%;
  padding-bottom: 5px;
  font-weight: 400;
}

.share-buttons-sticky {
  position: fixed;  /* Change from 'sticky' to 'fixed' */
  top: 50%;  /* Center vertically */
  right: 0;  /* Stick to the right side */
  transform: translateY(-50%);  /* Adjust for exact vertical centering */
  z-index: 9999;  /* Make sure it stays on top */
}

.social-share {
  list-style-type: none;  /* Remove the bullet points */
  padding: 0;  /* Remove default padding */
  margin: 0;  /* Remove default margin */
}

.full-width-input-group {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.drawer {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: $dark-background;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 150px;
}

.drawer a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drawer a:hover {
  background-color: $lt-dark-background;
}

.mobile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); // semi-transparent background
  color: white;
  z-index: 1000; // to ensure the drawer is on top of other content
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .close-drawer {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.7); // semi-transparent white background for contrast
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000; // making the X color black for visibility
    border-radius: 50%; // to make it circular
    width: 40px; // setting a fixed width
    height: 40px; // setting a fixed height
    display: flex; // these three lines center the X
    align-items: center; 
    justify-content: center;
  }

  .drawer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      a {
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          border: 1px solid white;
          border-radius: 5px;
          transition: background-color 0.3s;

          &:hover {
              background-color: rgba(255, 255, 255, 0.2);
          }
      }
  }
}


.rating-1 {
  color: red;
}

/* Assuming a linear gradient from red to green */
.rating-1-5 {
  color: #ff6666;
}

.rating-2 {
  color: #ff9933;
}

.rating-2-5 {
  color: #ffcc66;
}

.rating-3 {
  color: #99cc66;
}

.rating-3-5 {
  color: #66cc66;
}

.rating-4 {
  color: #33cc33;
}

.rating-4-5 {
  color: #009900;
}

.rating-5 {
  color: darkgreen;
}

.homepage-content {
  .banner {
      color: $light-black;
      text-align: center;
      // padding: 100px 0;

      h1 {
          font-size: 3rem; // Adjust font size as needed
          margin-bottom: 0.5rem;
      }

      .tagline {
          font-size: 1.5rem;
          margin-bottom: 1rem;
      }

      .search-bar-container {
          margin-bottom: 2.5rem;
      }
      .search-bar-badges {
        margin: 1rem 5rem;
        display: flex; // Use flexbox to align children
        justify-content: center; // Horizontally center the badges
        align-items: center;
        flex-wrap: wrap; // Allow badges to wrap to next line

        .badge {
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          font-size: 14px;
          background-color: white;
          color: $white-color;
          font-weight: 500;
          border: 1px solid $info-color;
          &:hover {
            text-decoration: underline; // Underline on hover
          }
          .badge-image {
            width: 20px; // Set your desired image width
            height: 20px; // Set your desired image height
            margin-right: 0.5rem; // Add some space between the image and the text
            object-fit: contain; // Keep the aspect ratio of the image
          }
        }
      }
  }
  
  .card-section {
      // Styling for your card section
  }

  // .card-stock-logo {
  //     width: 50px;
  //     height: 80px;
  // }

  // .card-stock-name {
  //     font-size: 1.2rem;
  //     font-weight: 500;
  // }

  // .card-stock-price {
  //     font-size: 1rem;
  //     font-weight: 500;
  // } 

  .card-stock-logo {
      width: 30px;
      margin-top: -1rem;

      img {
          max-width: 100%; // Ensure the image is responsive
          height: auto; // Maintain aspect ratio
      }
  }

  .card-stock-name {
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap; // Prevents text wrapping
      overflow: hidden; // Hide overflow
      text-overflow: ellipsis; // Add ellipsis
      text-align: right; // Center the text
      margin-top: 1rem;
  }

  .card-stock-ticker {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right; // Center the text
    // margin-top: -1rem;
  }

  .card-stock-price {
      font-size: 1rem;
      font-weight: 600;
      text-align: right; // Center the text
  }

  .card-stock-price-positive {
    color: green;
  }
  
  .card-stock-price-negative {
    color: red;
  }

  .card-stock-rating {
      text-align: right; // Center the text
  }


  .card-stats {
      // Additional styling for card
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); // Add shadow for depth
      transition: 0.3s; // Smooth transition for hover effects
      &:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); // Increase shadow on hover
      }
  }

  
}

.card-banner-logo {
  width: 100px;
  margin-top: -1rem;

  img {
      max-width: 100%; // Ensure the image is responsive
      height: auto; // Maintain aspect ratio
  }
}