body{
    color: $white-color;
    font-size: $font-size-base;
    font-family: $sans-serif-family;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.main{
    position: relative;
    background: $dark-background;
}
/* Animations */
.nav-pills .nav-link,
.navbar,
.nav-tabs .nav-link,
.sidebar .nav a,
.sidebar .nav a i,
.animation-transition-general,
.tag,
.tag [data-role="remove"],
.animation-transition-general{
    @include transition($general-transition-time, $transition-ease);
}

//transition for dropdown caret
.dropdown-toggle:after,
.bootstrap-switch-label:before,
.caret{
    @include transition($fast-transition-time, $transition-ease);
}

.dropdown-toggle[aria-expanded="true"]:after,
a[data-toggle="collapse"][aria-expanded="true"] .caret,
.card-collapse .card a[data-toggle="collapse"][aria-expanded="true"] i,
.card-collapse .card a[data-toggle="collapse"].expanded i{
    @include rotate-180();
}

.button-bar{
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: $white-bg;

    & + .button-bar{
        margin-top: 7px;
    }

    &:nth-child(2){
        width: 17px;
    }
}

.caret{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.pull-left{
  float: left;
}
.pull-right{
  float: right;
}


.offline-doc {
  .navbar.navbar-transparent{
    padding-top: 25px;
    border-bottom: none;

    .navbar-minimize {
      display: none;
    }
    .navbar-brand,
    .collapse .navbar-nav .nav-link {
      color: $white-color !important;
    }
  }
  .footer {
    z-index: 3 !important;
  }
  .page-header{
    .container {
      z-index: 3;
    }
    &:after {
      background-color: rgba(0, 0, 0, 0.5);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
}

.fixed-plugin {
  .dropdown-menu li {
    padding: 2px !important;
  }
}

// badge color

.badge{
  &.badge-default{
      @include badge-color($default-color);
  }
  &.badge-primary{
      @include badge-color($primary-color);
  }
  &.badge-info{
      @include badge-color($info-color);
  }
  &.badge-success{
      @include badge-color($success-color);
  }
  &.badge-warning{
      @include badge-color($warning-color);
  }
  &.badge-danger{
      @include badge-color($danger-color);
  }
  &.badge-neutral{
      @include badge-color($white-color);
      color: inherit;
  }
}

.card-user {
  form {
    .form-group {
      margin-bottom: 20px;
    }
  }
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padded-row {
  padding: 0 15px;
}

.info-text {
  font-size: 14px;
  border-radius: 5px;
  padding: 4px 8px;
  background: linear-gradient(to right, #050505, rgb(0, 0, 0));
  color: #FFF;
  text-align: center;
}

.valuation-description {
  font-size: 14px;
  color: $white-color;
  margin-top: 2%;
  padding-bottom: 10px;
}

.card-subtitle {
  font-size: 12px;
}

.equidistant-divs {
  display: flex;
  justify-content: start;
  margin-bottom: 2px;

  > .numbers {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.card-hr {
  margin-bottom: 10px;  /* Adjust as per your requirement */
  height: 1px; // Define the height, for gradient to work well
  background-image: linear-gradient(to right, $dark-gray, $dark-background);
}

.card-hr-left-short {
  width: 50%;
  height: 1px; // Define the height, for gradient to work well
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 0; 
  margin-right: auto;
  background-image: linear-gradient(to right, $dark-gray, $dark-background);
}

.subtitle-h5 {
  font-size: 16px;
  color: $white-color;
  margin-top: 2%;
  padding-bottom: 5px;
  font-weight: 400;
}

.share-buttons-sticky {
  position: fixed;  /* Change from 'sticky' to 'fixed' */
  top: 50%;  /* Center vertically */
  right: 0;  /* Stick to the right side */
  transform: translateY(-50%);  /* Adjust for exact vertical centering */
  z-index: 9999;  /* Make sure it stays on top */
}

.social-share {
  list-style-type: none;  /* Remove the bullet points */
  padding: 0;  /* Remove default padding */
  margin: 0;  /* Remove default margin */
}

.full-width-input-group {
  width: 80%;
  margin: auto;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.drawer {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: $dark-background;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 150px;
}

.drawer a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.drawer a:hover {
  background-color: $lt-dark-background;
}

.mobile-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); // semi-transparent background
  color: white;
  z-index: 1000; // to ensure the drawer is on top of other content
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .close-drawer {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(255, 255, 255, 0.7); // semi-transparent white background for contrast
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000; // making the X color black for visibility
    border-radius: 50%; // to make it circular
    width: 40px; // setting a fixed width
    height: 40px; // setting a fixed height
    display: flex; // these three lines center the X
    align-items: center; 
    justify-content: center;
  }

  .drawer-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      a {
          text-decoration: none;
          color: white;
          padding: 10px 20px;
          border: 1px solid white;
          border-radius: 5px;
          transition: background-color 0.3s;

          &:hover {
              background-color: rgba(255, 255, 255, 0.2);
          }
      }
  }
}
